<div>
    <!--<a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>-->
    <h1>Administration</h1>
    <div class=jumbotron>
        <div class=container>
            <h2>Utilisateurs</h2><hr>

            <div class="btn-toolbar">
                <button class="btn btn-primary" ng-click="open()">Nouvel utilisateur</button>
                <button class="btn">Import</button>
                <button class="btn">Export</button>
            </div><br>

            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th style="">Statut</th>
                        <th style="">Département</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.status }}</td>
                        <td>{{ user.department }}</td>
                        <td>
                            <a href="#myModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>