<div>
    <h2>Chat qui foire sa race</h2>
    <div class=jumbotron>
        <div class=container>
            <ul>
                <li ng-repeat="message in messages">
                    <b>{{message.username}}</b>
                    <span>{{message.message}}</span>
                </li>
            </ul>

            <form>
                <div class=form-content>
                    <div class=form-group>
                        <label>Messages : </label>
                        <input type="text" id="chatMessages" placeholder="Votre message" ng-model="msg">
                    </div>
                    <div class=form-group>
                        <button type="submit" ng-click="sendMessage(msg)">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>