<div class=login-page>
    <div class=row>
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <form name="loginForm" role="form" ng-submit="onSubmit(loginForm.$valid)" novalidate>
                <div class=form-content>
                    <div class=form-group>
                        <input type="email" id="email" name="email" class="form-control input-underline input-lg" placeholder="Email" ng-model="credentials.email" ng-required="true">
                        <p ng-show="loginForm.email.$invalid && loginForm.email.$pristine && submitted">Email valide requise !</p>
                    </div>
                    <div class=form-group>
                        <input type="password" id="password" name="password" class="form-control input-underline input-lg" placeholder="Password" ng-model="credentials.password" ng-required="true" ng-minlength="8">
                        <p ng-show="loginForm.password.$invalid && loginForm.password.$pristine && submitted">Mot de passe requis !</p>
                        <p ng-show="loginForm.password.$error.minlength && submitted">MDP de 8 caractères !</p>
                    </div>
                </div>
                <p ng-show="dataLoginInvalid">{{ msgError }}</p>
                <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
            </form>
        </div>
    </div>
</div>
