<div>
    <!--<a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>-->
    <h1>Profil</h1>
    <div class=jumbotron>
        <div class=container>
            <div ng-hide="editStatus">
                <h3>Informations générales</h3>
                <div class="profil-content">
                    <img src="">
                    <b>Nom d'utilisateur : </b>{{user.username}}<br>
                    <b>E-mail : </b>{{user.email}}<br>
                    <b>Nom : </b>{{user.firstname}}<br>
                    <b>Prénom : </b>{{user.lastname}}<br>
                </div>
                <br><p> <a class="btn btn-primary btn-lg btn-outline btn-rounded btn-sm" href="#" ng-click="editOn()">EDITER PROFIL</a></p>
            </div>
            <div ng-show="editStatus">
                <h3>Editer vos informations</h3>
                <form name="editProfilForm" role="form" ng-submit="saveEdit(editProfilForm.$valid)" novalidate>
                    <div class="form-content">
                        <div class="profil-content">
                            <div class="form-group">
                                <b>Nom d'utilisateur : </b>
                                <input type="text" id="username" name="username" ng-value="userEdit.username" ng-model="userEdit.username" ng-required="false"><br>
                            </div>
                            <div class="form-group">
                                <b>Nom : </b>
                                <input type="text" id="firstname" name="firstname" ng-value="user.firstname" ng-model="userEdit.firstname" ng-required="false"><br>
                            </div>
                            <div class="form-group">
                                <b>Prénom : </b>
                                <input type="text" id="lastname" name="lastname" ng-value="user.lastname" ng-model="userEdit.lastname" ng-required="false"><br>
                            </div>
                            <div class="form-group">
                                <b>Nouveau mot de passe : </b>
                                <input type="password" id="password" name="password" placeholder="new password" ng-model="userEdit.password" ng-required="false" ng-minlength="8"><br>
                            </div>
                            <div class="form-group">
                                <b>Confirmer mot de passe : </b>
                                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm new password" ng-model="userEdit.confirmPassword" ng-required="false" ng-minlength="8"><br>
                            </div>
                            <br>
                            <p ng-show="dataEditProfilInvalid">{{ msgError }}</p>
                        </div>
                        <button type="submit" class="btn btn-primary btn-outline btn-lg btn-rounded btn-sm">SAUVER</button>
                        <a class="btn btn-primary btn-lg btn-outline btn-rounded btn-sm" href="#" ng-click="editOff()">ANNULER</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
