<div>
    <h1>Support ticketting</h1>
    <div class=jumbotron>
        <div class=container>
            <h3>{{ title }}</h3><hr>

            <div class="btn-toolbar">
                <button class="btn btn-primary" ng-click="fetchAllTickets()">Tous les tickets</button>
                <button class="btn btn-primary" ng-click="fetchOwnTickets()">Mes tickets</button>
                <button class="btn" ng-click="open()">Nouveau ticket</button>
            </div><br>

            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Sujet</th>
                        <th>Statut</th>
                        <th>Priorité</th>
                        <th>Submitter</th>
                        <th>Assigné</th>
                        <th>Département</th>
                        <th>Client</th>
                        <th>Pour</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticket in tickets">
                        <td>{{ $index + 1 }}</td>
                        <td class="widthSubjectTicket">{{ ticket.subject }}</td>
                        <td><span ng-class="whichStatus(ticket.status)">{{ ticket.status }}</span></td>
                        <td><span ng-class="whichPriority(ticket.priority)">{{ ticket.priority }}</span></td>
                        <td>{{ ticket.submitter }}</td>
                        <td>{{ ticket.assigned}}</td>
                        <td>{{ ticket.department}}</td>
                        <td>{{ ticket.client}}</td>
                        <td>{{ ticket.deadline | date:'dd/MM/yyyy'}}</td>
                        <td class="tdIconsWidth"><a><i class="glyphicon glyphicon-search"></i></a></td>

                        <td ng-show="isConcerned(ticket)" class="tdIconsWidth"><a><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td ng-hide="isConcerned(ticket)"></td>

                        <td ng-show="isConcerned(ticket)" class="tdIconsWidth">
                            <a href="" role="button" ng-click="deleteTicket(ticket)" confirm="Etes-vous sûr de vouloir supprimer ce ticket ?"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                        <td ng-hide="isConcerned(ticket)"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>