<div class="modal-header">
    <h3 class="modal-title">Nouvel utilisateur</h3>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <form name="addUserForm" role="form" ng-submit="saveUser(addUserForm.$valid)" novalidate class="form-horizontal col-md-10">
        <div class="modal-body">
            <div class="form-content">
                <div class="form-group">
                    <b>Username :</b>
                    <input class="form-control" type="text" id="username" name="username" ng-model="addUser.username" ng-required="true">
                    <span ng-show="addUserForm.username.$invalid && submitted" class="errorMsg">Username requis !</span>
                </div>
                <div class="form-group">
                    <b>Email :</b>
                    <input class="form-control" type="email" id="email" name="email" ng-model="addUser.email" ng-required="true">
                    <span ng-show="addUserForm.email.$invalid && submitted" class="errorMsg">Email invalide requise !</span>
                </div>
                <div class="form-group">
                    <b>Nom :</b>
                    <input class="form-control" type="text" id="lastname" name="lastname" ng-model="addUser.lastname" ng-required="true">
                    <span ng-show="addUserForm.lastname.$invalid && submitted" class="errorMsg">Nom requis !</span>
                </div>
                <div class="form-group">
                    <b>Prénom :</b>
                    <input class="form-control" type="text" id="firstname" name="firstname" ng-model="addUser.firstname" ng-required="true">
                    <span ng-show="addUserForm.firstname.$invalid && submitted" class="errorMsg">Prénom requis !</span>
                </div>
                <div class="form-group">
                    <b>Département :</b>
                    <select class="form-control" id="department" name="department" ng-options="option.name for option in departments track by option.name" ng-model="selectedDepartment" ng-required="true">
                </select>
                    <span ng-show="addUserForm.department.$invalid && submitted" class="errorMsg">Département requis !</span>
                </div>
            </div>
        </div>
        <p ng-show="dataLoginInvalid" class="errorMsg">{{ msgError }}</p>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Créer</button>
        </div>
    </form>
    <div class="col-md-1"></div>
</div>