
<div class="modal-header">
    <h3 class="modal-title">Nouvel évènement</h3>
</div>
<div class="modal-body">
    <form name="editEventForm" role="form" novalidate class="form-horizontal col-lg-1">
        <div class="form-content">
            <div class="form-group">
                <b>Titre :</b>
                <input class="form-control" type="text" id="eventTitle" name="eventTitle" placeholder="Titre de l'évènement" ng-model="editEvent.title" ng-required="true">
            </div>

            <div class="form-group">
                <b>Description :</b>
                <input class="form-control" type="text" id="eventDescription" name="eventDescription" placeholder="Description de l'évènement" ng-model="editEvent.description" ng-required="false">
            </div>

            <div class="form-group">
                <b>Rappel :</b>
                <div class="form-group row">
                    <div class="col-md-2">
                        <input class="form-control" type="number" id="eventReminder" name="eventReminder" ng-model="durationReminder" ng-required="false" min="0">
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="timeUnity" name="timeUnity" ng-model="timeUnityReminder">
                            <option>Minutes</option>
                            <option>Heures</option>
                            <option>Jours</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <b>Lieu :</b>
                <input class="form-control" type="text" id="eventLocation" name="eventLocation" placeholder="Lieu" ng-model="editEvent.location" ng-required="false"    >
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveEvent()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>